<div id="links">
<% links.each do |link| %>
	<% if link[:content_type] == "parsing" %>
	  <%= erb :link_parsing, locals: {link: link} %>
 	<% elsif link[:content_type].start_with?("text") %>
      <%= erb :link_page, locals: {link: link} %>
  	<% elsif link[:content_type].start_with?("image") %>
      <%= erb :link_image, locals: {link: link} %>
 	<% end %>
<% end %>
</div>
