 <div class="row">
	<div class="col s12 m7">
	  <div class="card small">
	    <div class="card-image" style="background-image: url('<%= link[:image_url] %>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;">
	      <span class="card-title" style="background-color: rgba(0, 0, 0, 0.9); border-radius: 5px;"><%= link[:title] %></span>
	    </div>
	    <div class="card-content">
	      <p><%= link[:description] %></p>
	    </div>
	    <div class="card-action">
	      <a href="<%= link[:url] %>">Visit</a>
	    </div>
	  </div>
	</div>
</div>
